@import "./home-block/block";
@import "./aboutus.block/block2";
@import "./contact-block/block3";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
