.how3 {
  @include margin;
  margin: 150px auto;
  background-color: #2c343e;
  padding: 50px;
  border-radius: 10px;
  &-lines {
    display: flex;
    align-items: center;
  }
  &-circle {
    width: 25px;
    height: 25px;
    border-radius: 10%;
    border: 3px solid forestgreen;
    transition: transform 1s ease;
    &:hover {
      background-color: #0e8784;
      transform: rotate(135deg);
    }
  }
  &-line {
    width: 300px;
    height: 3px;
    background: #fdd6ba;
  }
  &-order {
    @include flex;
    width: 950px;
    margin-top: 50px;
  }
  &-order1 {
    width: 300px;
    &-title {
      @include title(35px, 280px, #fff);
      margin: 30px 0;
    }
    &-text {
      @include text("Barlow", 250px, #fff);
    }
  }
  &-number {
    @include title(50px, auto, #fdd6ba);
  }
}

@media only screen and (max-width: 450px) {
  .how3 {
    width: 90%;
    margin: 50px auto;
    &-line {
      width: 120px;
    }
    &-circle {
      height: 20px;
      width: 20px;
    }
    &-order {
      width: 100%;
      flex-direction: column;
      gap: 50px;
    }
    &-order1 {
      width: 100%;
      text-align: center;
      &-title {
        @include title(28px, auto, #fff);
      }
      &-text {
        @include text("Barlow", auto, #fff);
      }
    }
    &-number {
      @include title(35px, auto, #fdd6ba);
    }
  }
}
