.summary {
  background-color: #2c343e;
  margin-top: 50px;
  border-radius: 10px;
  padding: 30px;
  &-title {
    @include title(16px, auto, #58606a);
  }
  &-text {
    @include text("Fraunces", auto, #fff);
    margin: 20px 0;
    font-size: 24px;
    line-height: 50px;
    font-weight: 800;
    &-high {
      color: #0e8784;
    }
  }
  &-btns {
    display: flex;
    justify-content: end;
    margin-top: 50px;
    &-btn {
      @include button;
    }
  }
}

@media only screen and (max-width: 450px) {
  .summary {
    background-color: #2c343e;
    border-radius: 10px;
    &-title {
      @include title(16px, auto, #58606a);
    }
    &-text {
      @include text("Fraunces", auto, #fff);
      margin: 20px 0;
      font-size: 20px;
      line-height: 30px;
      font-weight: 800;
      &-high {
        color: #0e8784;
      }
    }
    &-btns {
      display: flex;
      justify-content: center;
      margin-top: 50px;
      &-btn {
        @include button;
        background: #0e8784;
      }
    }
  }
}

@media (min-width: 450px) and (max-width: 768px) {
  .summary {
    width: 100%;
    background-color: #2c343e;
    border-radius: 10px;
    &-title {
      @include title(16px, 100%, #58606a);
    }
    &-text {
      @include text("Fraunces", auto, #fff);
      margin: 20px 0;
      font-size: 20px;
      line-height: 30px;
      font-weight: 800;
      &-high {
        color: #0e8784;
      }
    }
    &-btns {
      display: flex;
      justify-content: center;
      margin-top: 50px;
      &-btn {
        @include button;
        background: #0e8784;
      }
    }
  }
}
