.commitment {
  @include margin;
  @include flex;
  margin-top: 150px;
  padding: 50px 100px;
  &-img {
    border-radius: 10px;
    width: 300px;
    height: 400px;
  }
  &-textarea {
    width: 500px;
  }
  &-title {
    @include title(30px, auto, #333d4b);
    margin: 20px 0;
  }
  &-text {
    @include text("Barlow", auto, #333d4b);
  }
}

@media only screen and (max-width: 450px) {
  .commitment {
    width: 90%;
    flex-direction: column;
    padding: 20px 0;

    &-img {
      width: 100%;
      height: 400px;
    }
    &-textarea {
      margin: 30px 0;
      width: 100%;
      text-align: center;
    }
  }
}

@media (min-width: 450px) and (max-width: 768px) {
  .commitment {
    width: 90%;
    padding: 0;
    &-img {
      width: 45%;
      height: 500px;
    }
    &-textarea {
      width: 50%;
      text-align: left;
    }
    &-title {
      @include title(30px, auto, #333d4b);
      margin: 0;
      margin-bottom: 20px;
    }
    &-text {
      @include text("Barlow", auto, #333d4b);
    }
  }
}
