.commitment {
  @include margin;
  @include flex;
  margin-top: 150px;
  padding: 50px 100px;
  &-img {
    border-radius: 10px;
    width: 300px;
    height: 400px;
  }
  &-textarea {
    width: 500px;
  }
  &-title {
    @include title(30px, auto, #333d4b);
    margin: 20px 0;
  }
  &-text {
    @include text("Barlow", auto, #333d4b);
  }
}
