.countries {
  @include margin;
  margin: 150px auto;
  padding: 50px;
  &-title {
    @include title(25px, auto, #83888f);
    margin-bottom: 100px;
  }
}
.country {
  @include flex;
  width: 900px;
  &-1 {
    width: 250px;
    height: 250px;
    &-title {
      @include title(25px, auto, #333d4b);
      margin: 30px 0;
    }
    &-text {
      @include text("Barlow", auto, #333d4b);
    }
  }
}

@media only screen and (max-width: 450px) {
  .countries {
    width: 90%;
    &-title {
      text-align: center;
    }
  }

  .country {
    width: 100%;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    text-align: center;
  }
}

@media (min-width: 450px) and (max-width: 768px) {
  .countries {
    width: 90%;
    padding: 0;
  }

  .country {
    width: 100%;
    align-items: baseline;
    justify-content: space-between;

    &-1 {
      width: 32%;
      height: 100%;
      &-title {
        @include title(25px, 100%, #333d4b);
        margin: 30px 0;
      }
      &-text {
        @include text("Barlow", auto, #333d4b);
      }
    }
  }
}
