.intro2 {
  @include margin;
  @include back-img(url(../image/page2backgroundimg.png));
  height: 400px;
  border-radius: 10px;
  padding: 50px 100px;

  &-title {
    @include title(50px, auto, #fff);
    margin-top: 50px;
  }
  &-text {
    @include text("Barlow", 400px, #fff);
    margin: 40px 0;
  }
}

@media only screen and (max-width: 450px) {
  .intro2 {
    width: 90%;
    height: auto;
    padding: 10px 20px;
    &-title {
      @include title(25px, auto, #fff);
    }
    &-text {
      @include text("Barlow", 100%, #fff);
      margin: 40px 0;
    }
  }
}

@media (min-width: 450px) and (max-width: 768px) {
  .intro2 {
    width: 90%;
    padding: 30px 50px;
    &-title {
      @include title(45px, auto, #fff);
    }
    &-text {
      @include text("Barlow", 70%, #fff);
      margin: 40px 0;
    }
  }
}
