.footer {
  @include margin;
  @include flex;
  background-color: #2c343e;
  padding: 30px 50px;
  border-radius: 10px;
  &-logo {
    width: 250px;
    height: 35px;
  }
  &-list {
    @include flex;
    width: 300px;
  }
  &-link {
    @include nav-link2;
  }
  &-images {
    @include flex;
    width: 150px;
  }
  &-icon {
    width: 30px;
    height: 30px;
    color: #fff;
    transition: all 0.3s linear;
    &:hover,
    &:active {
      color: #0e8784;
    }
  }
}
