.intro {
  @include back-img(url(/image/bitmap.png));
  @include margin;
  padding: 50px;
  border-radius: 10px;
  &-title {
    @include title(60px, 500px, #fff);
  }
  &-text {
    @include text('Barlow', 350px, #fff);
    margin: 50px 0px;
  }
  &-btn {
    @include button;
  }
}
